<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
  <!-- https://stackoverflow.com/questions/5588658/auto-reload-browser-when-i-save-changes-to-html-file-in-chrome  so cool! -->
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  
  <title> Portfolio</title>
</head>

<body>
  <div class="container"> 
    <%- include('../partials/header.ejs') %>
    <div class="inner-container"></div>
      <%- include('../partials/errorMessage.ejs') %>
      <%- body %>
      
    </div>
  </div>

  <div id="bottom"></div>

  
</body>

<footer>

  <div class="the-footer-info">
    <div class="my-links">
      <ul>
          
          <li><a href="https://github.com/mlr425/"> <img src="githublogo.png" width="55"> </a></li>
          <li><a href="https://www.linkedin.com/in/mlr425/"> <img src="linkedinlogo.png" width="50" height="50"> </a></li>
          <li><a href="https://leetcode.com/mlr425/"> <img src="LeetCode_logo.png" width="50" height="50"> </a></li>
          <li> <img src="gmailicon.png" width="25" height="25"> mattrod425@gmail.com </a></li>
      </ul>
    </div>
  </div>
  <a href="#">Top of page</a>
</footer>

</html>