<div class="grid-container">
    
    <div class="grid-item grid-item1">
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-col0">
                <span>
                    <img id="big-hand" src="handwave.png">
                    <p id="hello-name"> Hello, I'm Matthew!  </p>

                </span>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                

                <a id="down-arrow-pos" href="#bottom">
                    <img id="down-arrow" src="downarrow.png">
                </a>
                
            </div>
            
        </div>
        
    </div>

    
    
    <div class="grid-item grid-item2">
        <div class="flexbox-item flexbox-col1">
            
        </div>
    </div>

    <div class="grid-item grid-item3">
        <div class="flexbox-item flexbox-col2">
            <span id="about-me-text">
                
                My name is Matthew L. Rodriguez. <br> 
                I graduated from the University of Washington in March of 2020
                with a Bachelor of Science in Computer Science and Software Engineering.
                <br>
                <br>

                This is my first website and I'm excited to work on it and learn new things in the process.
                
                <br>
                <br>
                
                <div class="what-im-working-on">
                    <span id="what-im-working-on-title"> What I'm working on (9/1/20): </span>
                    <div>
                        Finish portfolio <br>
                        Web development best practices <br>
                        
                        
                    </div>
                </div>
                
            </span>
    </div>
    </div>
</div>

