<div class="flexbox-container">
    
    <div class="flexbox-item flexbox-col1">
        
    </div>
    
    <div class="flexbox-item flexbox-col2">
            <span id="about-me-text">
                
                My name is Matthew L. Rodriguez. <br> 
                I graduated from the University of Washington in March of 2020
                with a Bachelor of Science in Computer Science and Software Engineering.
                
                <br>
                <br>
                <br>
                
                <div class="what-im-working-on">
                    <span id="what-im-working-on-title"> What I'm working on (9/1/20): </span>
                    <div>
                        My portfolio <br>
                        Web development best practices <br>
                        
                        implement interactive to-do list on this page
                    </div>
                </div>
                
            </span>
    </div>

    
    
    

</div>



<!-- <div class="flexbox-container2">
    <div class="flexbox-item flexbox-bottom">
        col3
    </div>

</div> -->


