@import 'shared/variables.css';
@import 'shared/header.css';
@import 'contactMe.css';



body{
    background-color: white;
    background-image: url('../squairy.png');
    image-rendering: auto;
}

html{
    scroll-behavior: smooth;
}

#big-hand{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%; 
    /* i dont want the hand rn, increase width to make it appear */
}

#down-arrow-pos{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:15%;
}

.flexbox-container{
    display: flex;

    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    /* flex-wrap:wrap; */
    
    
}

.flexbox-item{
    width: 200px;
    background-color: white;
    margin: 5px;
}

.flexbox-col0{
    /* border: 3px solid #333;  */
    justify-content: center;
    align-content: center;
    
    min-height: 650px;
    min-width:500px;
    

}

/* portrait */
.flexbox-col1{
    min-height: 150px;
    max-height:  250px;
    
    /* border: 1px black solid; */

    background-image: url("../aigen.PNG");
    background-repeat: no-repeat;
    background-size: 200px 150px;
    /* box-shadow: 0 8px 6px -6px black; */
    
}

.flexbox-col2{
    /* border: 3px solid #333; */
    border-left:red 2px solid;
    /* border-top:red 2px solid; */
    align-self: center;
    min-height: 500px;
    min-width: 500px;
    flex-grow:1;
    padding-left: 10px;
    box-shadow: 5px 5px 5px -1px grey;
    
    
}





.grid-container {
    display: grid;
    grid-template-columns:  500px 250px;
    grid-auto-rows: minmax(150px, auto);
    /* grid-column-gap: 150px; */
    justify-content: center;
    /* justify-items: stretch; 
    align-items: stretch; */

    /* height: 100vh; */
    

    
}

.grid-item{
    /* border:1px solid green; */
}
  
.grid-item1 {
    grid-column-start:1;
    grid-column-end:-1;
    align-self: start;
    justify-self: center;
    min-height: 800px;
    border: 1px green solid;
}

/* portrait */
.grid-item2 {
    align-self: start;
    justify-self: center;
    background-color: black;
    border: 1px black solid;
    /* border-radius: 100px; */
    
    
}

.grid-item3 {
    align-self: start;
    justify-self: center;
    /* border: 1px green solid; */
    
}


#hello-name{
    margin:auto;
    text-align: center;
    font-size: 50px;
}

#about-me-text{
    font-size:25px;
}

#about-me-title{
    font-size: 35px;
    color:black;
    padding-left: 397px;
    text-decoration: underline;

}


.my-links li{
    list-style:none;
    color:black;
    
}

.my-links li a{
    text-decoration: none;
    color:black;
}

#my-links-title{
    font-size: 20px;
    text-decoration: underline;
    
}


