
<div class="grid-container-2">
    <div class="grid-item formBox">
        <div class="grid-item-contact inputBox-name">
            <span>Name</span>
            <input type="text" name="name" required>
        </div>

        <div class="grid-item-contact inputBox-email">
            <span>Email</span>
            <input type="text" name="email" required>
        </div>

        <div class="grid-item-contact inputBox-message">
            <span>Message</span>
            <br>
            <textarea id="msg-size-area" type="text" name="givenMsg" required> </textarea>
        </div>
    </div>
</div>
