<h2 id="contact-me-title">Contact Me</h2>
<form action="/contact" method="POST">
    <%- include('_form_fields') %>
    <div class="grid-item-contact inputBox-message">
        <input type="submit" value="Send">
    </div>
</form>