:root{
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

.header-title{
    color: var(--color-text-dark);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
    /* padding-left:50px; */
}



.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    
    color:black;
    
}

.header-nav ul{
    display:flex;
    margin:10px;
    padding:10px;
    

}

.header-nav li{
    list-style:none;
    border: black 2px solid;
    font-size:30px;
}

.header-nav li a{
    text-decoration: none;
    color:var(--color-text-dark);
    font-weight: var(--nav-link-font-weight);
    padding:1rem;
}

.header-nav li a:hover{

    color:white;
    background-color: black;
    padding-top:1px;
    padding-bottom:1px;
    
    
}
