:root{
    --color-base-hue:195;
    --color-danger-hue-offset:180;
    --color-danger-hue:calc( var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue),100%,80%);
    --color-background-light: hsl(var(--color-base-hue),100%,15%);
    --color-text-light: hsl(var(--color-base-hue),100%,90%);

}